<div class="modal fade" id="ratingModal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <% if @restaurant.image? %>
            <%= image_tag(@restaurant.image.url,class: "restaurant-show-image") %>
            <% else %>
            <%= image_tag("coming_soon.jpg", class: "restaurant-show-image") %>
            <% end %>
            <br>
            <br>
            <p class="small-point">
              <% if !@restaurant.rated? %>
                <b>--</b>
              <% else %>
                <%= @average_point %>
              <% end %>
            </p>
            <h5><b><%= @restaurant.name %></b></h5>
          </div>
          <div class="col-md-8">
            <%= form_for(object) do |f| %>
              <%= render "shared/error_messages", object: object %>
              <div class="row">
                <div class="col-md-3"> <%= f.label :quality %></div>
                <div class="col-md-8">
                  <%= f.range_field(:quality_point, in: 0..10, class: "slider myRange") %>
                </div>
                <div class="col-md-1">
                  <span class="demo"></span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3"> <%= f.label :price %></div>
                <div class="col-md-8">
                  <%= f.range_field(:price_point, in: 0..10, class: "slider myRange") %>
                </div>
                <div class="col-md-1">
                  <span class="demo"></span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3"> <%= f.label :service %></div>
                <div class="col-md-8">
                  <%= f.range_field(:service_point, in: 0..10, class: "slider myRange") %>
                </div>
                <div class="col-md-1">
                  <span class="demo"></span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3"> <%= f.label :space %></div>
                <div class="col-md-8">
                  <%= f.range_field(:space_point, in: 0..10, class: "slider myRange") %>
                </div>
                <div class="col-md-1">
                  <span class="demo"></span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3"> <%= f.label :location %></div>
                <div class="col-md-8">
                  <%= f.range_field(:location_point, in: 0..10, class: "slider myRange") %>
                </div>
                <div class="col-md-1">
                  <span class="demo"></span>
                </div>
            </div>
            <br>
            <%= f.submit t("submit"), class: "btn btn-primary", data: { disable_with: false },:id => "submit_point" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
