<tr>
  <td><%= @i %></td>
  <td><%= order.address %></td>
  <td><%= order.get_total_value %></td>
  <td><%= order.status %></td>
  <td>
    <%= link_to t("delete"), deleteorder_path(id: order.id), method: :delete,
      data: { confirm: t("you_sure") }, class: "btn btn-danger" %>
  </td>
  <% @i = @i + 1 %>
</tr>

