<footer class="">
  <div class="footer-widget section-padding footer-page">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="single-widget single-widget1">
            <%= image_tag("logo/logo.png", alt: "logo") %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="single-widget single-widget2 my-5 my-md-0">
            <h5 class="mb-4"><%= t("contact_us") %></h5>
            <div class="d-flex">
              <div class="into-icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="info-text">
                <p><%= t("our_address") %></p>
              </div>
            </div>
            <div class="d-flex">
              <div class="into-icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="info-text">
                <p><%= t("our_phone") %></p>
              </div>
            </div>
            <div class="d-flex">
              <div class="into-icon">
                <i class="fa fa-envelope-o"></i>
              </div>
              <div class="info-text">
                <p><%= t("our_email") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
