<header class="header-area row-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="logo-area">
          <%= image_tag("logo/logo.png", alt: "logo") %>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="custom-navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="main-menu">
          <ul>
            <% if !logged_in? or current_user.check_type nil  %>
              <li class="active"><%= link_to t("home"), root_path %></li>
              <li><%= link_to t("about"), about_path %></li>
              <li><%= link_to t("contact"), contact_path %></li>
            <% end %>
            <% if logged_in? %>
              <% if current_user&.check_type "admin" %>
                <li class="active"><%= link_to t("dashboard"), admin_admins_path %></li>
              <% end %>
              <% if current_user.check_type nil %>
                <li><span class="glyphicon glyphicon-shopping-cart"></span><%= link_to t("mycart"), mycart_path %></li>
              <% end %>
              <% if current_user&.check_type "manager" %>
                <li class="active"><%= link_to t("dashboard"), manager_managers_path %></li>
              <% end %>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t("account") %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to t("profile"), current_user %></li>
                  <li><%= link_to t("setting"), edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to t("logout"), logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to t("login"), login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

